<h2>Metrics</h2>

{{#metrics}}
<h5>{{name}}</h5>
<p>
<button type="button" class="btn btn-warning" onclick="metricCommand({{id}}, 1)">Activate alarm</button>
<button type="button" class="btn btn-secondary" onclick="metricCommand({{id}}, 0)">Deactivate alarm</button>
</p>
{{/metrics}}

<h6>Command</h6>
<pre id="cmd"></pre>

<script>

const metricCommand = async (id, state) => {
  var args = "id=" + id + "&state=" + state;
  const response = await fetch('http://{{ip}}:{{port}}/api/metrics/alarmed?' + args);
  const json = await response.json();
  document.getElementById("cmd").innerText = json.command;
}

</script>


