<h2>System modes</h2>

{{#modes}}
<p>
<button type="button" class="btn btn-primary" onclick="setMode({{id}})">{{name}}</button>
</p>
{{/modes}}

<h5>Command</h5>
<pre id="cmd"></pre>

<script>

const setMode = async (id) => {
  const response = await fetch('http://{{ip}}:{{port}}/api/system?id=' + id);
  const json = await response.json();
  document.getElementById("cmd").innerText = json.command;
}

</script>



